# dependencies
**/node_modules

# env
**/.env
**/.env.local
**/.env.production
# logs
**/*.log

# build
frontend/build
backend/dist

# OS / editor
.DS_Store
.vscode

backend/coverage/
.env.production

# Terraform
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
